body{
    background-color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 22px;  
}

h1{
    font-size: 47px;
    color:hsl(0, 0%, 59%);font-weight: 300;
    span{font-weight: 700; color:hsl(209, 33%, 12%);}
}

.sub-title{
    font-size: 20px;
    color:hsl(209, 33%, 12%);
    font-weight: 300;
}
input[type="email"] {
    font-size: 18px;
    color:  hsl(223, 100%, 88%);
    font-weight: 300;
}
.btn{
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: hsl(223, 87%, 63%);
    font-weight: 600;
    
}
footer p{
    color:  hsl(0, 0%, 59%);
    font-size: 13px;
}
